# Lambda Functions - Lab

## Introduction

In this lab, you'll get some hands-on practice creating and using lambda functions.

## Objectives
In this lab you will: 
* Create lambda functions to use as arguments of other functions   
* Use the `.map()` or `.apply()` method to apply a function to a pandas series or DataFrame

## Lambda Functions

In [1]:
import pandas as pd
df = pd.read_csv('Yelp_Reviews.csv', index_col=0)
df.head(2)

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g
2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g

In [2]:
df.columns

Index(['business_id', 'cool', 'date', 'funny', 'review_id', 'stars', 'text',
       'useful', 'user_id'],
      dtype='object')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2610 entries, 1 to 4206
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   business_id  2610 non-null   object
 1   cool         2610 non-null   int64
 2   date         2610 non-null   object
 3   funny        2610 non-null   int64
 4   review_id    2610 non-null   object
 5   stars        2610 non-null   int64
 6   text         2610 non-null   object
 7   useful       2610 non-null   int64
 8   user_id      2610 non-null   object
dtypes: int64(4), object(5)
memory usage: 203.9+ KB

In [4]:
df.describe()

              cool        funny        stars       useful
count  2610.000000  2610.000000  2610.000000  2610.000000
mean      0.229119     0.211877     3.724521     0.872414
std       0.713175     0.793281     1.524670     1.862308
min       0.000000     0.000000     1.000000     0.000000
25%       0.000000     0.000000     3.000000     0.000000
50%       0.000000     0.000000     4.000000     0.000000
75%       0.000000     0.000000     5.000000     1.000000
max      14.000000    16.000000     5.000000    24.000000

In [5]:
df.value_counts(normalize=True)

business_id             cool  date        funny  review_id               stars  text                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                useful  user_id
duMosohbc271G58rllgvbA  0     2013-05-07  0      WpIZdLr9DM85HaZwlyJv-g  1      This business has horrible service. If you want anything done you better show up right when they open. Even if you just want a shower for your pooch. For example I showed up yesterday 15 minutes before closing and receptionist said groomers all left for the day which makes sense. I went today one hour before they close and receptionist tells me all the groomers left. Wtf!!!!! Really! Man f*cl this place.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             0       GrgjO23ba8soKwyW6BECuw    0.000766
CE05_kJvl0xRloi8fW6R3w  0     2015-06-25  0      _Rzm6xCJb01K7OrALNjSvg  5      They do a great job of letting you know what's wrong & how much it will cost to fix it.  They also say it in words that non-car people can understand.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              0       dN9nRZmDCk0wk1Uya5kCRQ    0.000766
CFtZH4Skp9z3o4ToSywI4w  0     2017-02-19  0      SnuaNT55nomofEXt86z5_g  4      Service was a bit slow.. We waited for a little bit to be seated.. We sit near the open window which was really nice.. Ordered drinks that took a while to get.. Our waitress didnt introduce herself which I can't stand when you have to ask for it.. The food was great though! Burgers were delicious.. Very well seasoned! Inside the restaurant wasn't nothing too special.. The food was worth the wait!                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     0       FvR1NNh1BhzZSE4kyBdc4Q    0.000766
N7hY5ZMttt730xl2BUCYCA  0     2015-03-17  0      L7Y32aCyu1j3wk9yolLEkg  1      Since we've moved in our ceiling has been leaking and they've "fixed" it every other month. Not worth the price. Two pools but they're small.  I would look somewhere else!                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         5       3ZAUnSCVa7VhsJobdImCow    0.000766
YSUPAkyni4qpcHfrMOAEww  0     2015-12-29  0      -ioOPDj_XC8eJuoNFIvNmg  5      Great first-time visit.  The owner was on premises & personally welcomed me.  Very comfortable seating with fireplace.  Great choice in Tea & Bakery items.  I will be back!  Friendly neighborhood feel.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           0       jfGxnTX9aYA5FtSdMXdHHg    0.000766
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        ...
dei67jnanWpRLRL7aRwqAA  0     2011-03-04  3      FRh3yuD3uunzqxTbEqN9ag  1      They said I needed a timing belt replaced when Honda Civics from 2006 don't have a timing belt.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     6       FHwl6kaKdD5-KAnfVb_pKQ    0.000383
deipWwvNQm5DMmfpq9tNoA  0     2015-09-08  0      tYmdSXu5_cAHrTG9W3e1Ow  4      Pretty awesome Thai food. Can't say more than have the fresh and spring rolls and as much pad Thai as you can get your hands on!                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    2       Yp0KIKTlQBlyID724QKDNw    0.000383
dizdLoOk0GMaSS_qQAuklQ  1     2012-09-05  0      pPaO3gBlZWr3MDeXZxKKtA  3      The Fifth Grill and Terrace was rated on a blog as one of the best steaks in Toronto.  My husband and I were excited to go, especially because it also boasted a beautiful rooftop dining patio.  The experience was neat, as the entrance is an unmarked door in an alley and after being checked off the reservations list were escorted up an old industrial elevator to the top floor.  We had the place to ourselves which was a little weird at 6:30 on a Saturday night.  This meant our waitress was very attentive.  The wine list was short and expensive but did have a bottle of Canadian red which was delicious.  The food was very expensive as well and was fine, but not delicious and worth the cost ($50/main mean plus $7/side vegetables).  The salmon appetizer was very disappointing since it was just a couple slabs of cold salmon and no flavor profile.  The ambiance was very nice, though there is no view since it is squashed between taller buildings.                                             2       1po30PVblm1zJbfvM71BRA    0.000383
dpOWBBnpzpkIvhuLBFIg6w  1     2017-06-21  0      vpFagHhvPfwhqfXZByv6GQ  1      Dropped the car of for an oil change, tire rotation (which they do for free since I bought the tires there), check of the transmission fluids, and power steering. I left with an oil change. 1 out of the 4 things I asked for was completed.  The reason I know nothing got done was it was not on my receipt for checking the fluids and I mark my tires to make sure they do a tire rotation.  I got home and my same mark was on my drivers side front tire.  Called them back and they said since my tires were worn that they can't rotate them...um b.s. They flat out did not do it.  This was after they would not prorate me for new tires that I bought from them and got 35,000 miles on 65,000 mile tires. They said I needed to have tire rotation records (which I do have just not from Brian's).  How do you get tire rotation records when you don't rotate the tires?  When I called Bridgestone about my tire warranty they said to not go there (Brian's) and go to another place   Shady place..be careful.  1       yD1NqQR3hfuq29hCLUVtvQ    0.000383
-050d_XIor1NpCuWkbIVaQ  0     2009-08-29  0      vp0adLbIlf3RBESXzomZrg  5      One of the best breakfast places in Phoenix. Arrived for a late Thursday morning breakfast (11am) and only had to wait 5-10 minutes. Server was friendly and I had the chorizo scramble special. It was great! Very tasty and flavorful. I am one of the pickiest breakfast eaters (i.e. I don't really consider US Egg & Denny's breakfast places). I expect my eggs and all the ingredients to be fresh, and that was certainly the case at Matt's!! This is one of my two favorite breakfast places in the valley (for different reasons, I consider Matt's and the Orange Table to be complimentary).                                                                                                                                                                                                                                                                                                                                                                                                                           0       LBweMNqEoQi9_-7HhNcWQg    0.000383
Length: 2277, dtype: float64

## Simple arithmetic

Use a lambda function to create a new column called `'stars_squared'` by squaring the stars column.

In [6]:
# Your code here
df['stars_squared'] = df['stars'].map(lambda x:x**2)
df.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id,stars_squared
1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g,25
2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g,1
4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g,25
5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0,pfavA0hr3nyqO61oupj-lA,1,This place sucks. The customer service is horr...,2,msQe1u7Z_XuqjGoqhB0J5g,1
10,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0,STiFMww2z31siPY7BWNC2g,5,I have been an Emerald Club member for a numbe...,0,TlvV-xJhmh7LCwJYXkV-cg,25

## Dates
Select the month from the date string using a lambda function.

In [7]:
# Your code here
df['date'].map(lambda x:x[5:7]).head(10)

1     11
2     10
4     09
5     02
10    06
11    09
12    08
19    08
25    11
26    11
Name: date, dtype: object

## What is the average number of words for a yelp review?
Do this with a single line of code!

In [8]:
# Your code here
round(df['text'].map(lambda x:len(x.split())).mean(),2)

77.07

## Create a new column for the number of words in the review

In [9]:
# Your code here
df['Review_num_words'] = df['text'].map(lambda x:len(x.split()))
df.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id,stars_squared,Review_num_words
1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g,25,58
2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g,1,30
4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g,25,30
5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0,pfavA0hr3nyqO61oupj-lA,1,This place sucks. The customer service is horr...,2,msQe1u7Z_XuqjGoqhB0J5g,1,82
10,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0,STiFMww2z31siPY7BWNC2g,5,I have been an Emerald Club member for a numbe...,0,TlvV-xJhmh7LCwJYXkV-cg,25,32

## Rewrite the following as a lambda function

Create a new column `'Review_Length'` by applying this lambda function to the `'Review_num_words'` column.

In [10]:
# Rewrite the following function as a lambda function
def rewrite_as_lambda(value):
    if value < 50:
        return 'Short'
    elif value < 80:
        return 'Medium'
    else:
        return 'Long'
# Hint: nest your if, else conditionals

df['Review_length'] = df['Review_num_words'].apply(lambda x:rewrite_as_lambda(x))
df.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id,stars_squared,Review_num_words,Review_length
1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g,25,58,Medium
2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g,1,30,Short
4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g,25,30,Short
5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0,pfavA0hr3nyqO61oupj-lA,1,This place sucks. The customer service is horr...,2,msQe1u7Z_XuqjGoqhB0J5g,1,82,Long
10,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0,STiFMww2z31siPY7BWNC2g,5,I have been an Emerald Club member for a numbe...,0,TlvV-xJhmh7LCwJYXkV-cg,25,32,Short

In [11]:
# Rewrite the following function as a lambda function
def rewrite_as_lambda(value):
    if value < 50:
        return 'Short'
    elif value < 80:
        return 'Medium'
    else:
        return 'Long'
# Hint: nest your if, else conditionals

df['Review_length'] = df['Review_num_words'].map(lambda x: 'Short' if x < 50 else ('Medium' if x < 80 else 'Long')) 
df.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id,stars_squared,Review_num_words,Review_length
1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0,dDl8zu1vWPdKGihJrwQbpw,5,I love this place! My fiance And I go here atl...,0,msQe1u7Z_XuqjGoqhB0J5g,25,58,Medium
2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1,LZp4UX5zK3e-c5ZGSeo3kA,1,Terrible. Dry corn bread. Rib tips were all fa...,3,msQe1u7Z_XuqjGoqhB0J5g,1,30,Short
4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0,jsDu6QEJHbwP2Blom1PLCA,5,Delicious healthy food. The steak is amazing. ...,0,msQe1u7Z_XuqjGoqhB0J5g,25,30,Short
5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0,pfavA0hr3nyqO61oupj-lA,1,This place sucks. The customer service is horr...,2,msQe1u7Z_XuqjGoqhB0J5g,1,82,Long
10,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0,STiFMww2z31siPY7BWNC2g,5,I have been an Emerald Club member for a numbe...,0,TlvV-xJhmh7LCwJYXkV-cg,25,32,Short

In [12]:
df['Review_length'].value_counts(normalize=True, dropna=False)

Short     0.493103
Long      0.294636
Medium    0.212261
Name: Review_length, dtype: float64

## Level Up: Dates Advanced!
<img src="images/world_map.png" width="600">  

Print the first five rows of the `'date'` column.

In [13]:
# Your code here
df['date'].head()

1     2012-11-13
2     2014-10-23
4     2014-09-05
5     2011-02-25
10    2016-06-15
Name: date, dtype: object

Overwrite the `'date'` column by reordering the month and day from `YYYY-MM-DD` to `DD-MM-YYYY`. Try to do this using a lambda function.

In [14]:
# Your code here
df['date'] = df['date'].map(lambda x:f"{x[8:10]}-{x[5:7]}-{x[0:4]}")
df['date'].head()

1     13-11-2012
2     23-10-2014
4     05-09-2014
5     25-02-2011
10    15-06-2016
Name: date, dtype: object

## Summary

Great! Hopefully, you're getting the hang of lambda functions now! It's important not to overuse them - it will often make more sense to define a function so that it's reusable elsewhere. But whenever you need to quickly apply some simple processing to a collection of data you have a new technique that will help you to do just that. It'll also be useful if you're reading someone else's code that happens to use lambdas.